.reading-page{
    height: 100vh;
    background-color: rgb(226, 224, 228);
}

.reader-content {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.7;
    white-space: pre-wrap;
}

.measure-content {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
}

.left-button, .right-button {
    display: flex;
    align-items: center;
    position: absolute;
    width: 7%;
    height: 100vh;
    color: rgb(73, 73, 73);
    font-size: 26px;
}

.left-button {
    top:  0;
    left: 0;
    justify-content: left;
    padding-left: 12px;
}

.right-button {
    top: 0;
    right: 0;
    justify-content: right;
    padding-right: 12px;
}

.left-button:hover, .right-button:hover{
    background-color: rgb(209, 209, 209);
}