.header{
    background-color: #7BA9A9;
    padding-top: 2px;
    padding-bottom: 0px;
}

.headerContent{
    width: 1000px;
    margin: auto auto;
    /*background-color: #eaeaea;*/
    padding: 1px 0;
}

h1{
    font-size: 20px;
    color: #ecf0f0;
    /*background-color: skyblue;*/
}