.header{
    background-color: #7BA9A9;
    /* another color option: #94b88f */
    padding-top: 2px;
    padding-bottom: 0px;
}

.headerContent{
    width: 1000px;
    margin: auto auto;
    /*background-color: #eaeaea;*/
    padding: 14px 0;
}

.header-logo{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ecf0f0;
    /*background-color: skyblue;*/
}